<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Learners Suite">

 <listeners>
  	<listener class-name="com.infosys.ExtentReporter" />
  </listeners>
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.infosys.Learners"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
